<div class="container">
  <h1>User Show</h1>
  
  <% unless flash.notice.nil? %>
  <div class="alert alert-info" role="alert">
    <%= flash.notice %>
  </div>
  <% end %>
  
  <%= session[:user_id] %>
  <%= @user.username %>
  <%= @user.email %>

  <% @user.tickets.each_with_index do |ticket, i| %>
  <div class="accordion" id="user-tickets">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading<%= i %>">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= i %>" aria-expanded="false" aria-controls="flush-collapse<%= i %>">
          <h3 class="flex-grow-1"><%= ticket.event.name %></h3>
          <span class="badge bg-success rounded-pill p-3 me-5">$<%= ticket.amount %> - Pledged!</span>
        </button>
      </h2>
      <div id="flush-collapse<%= i %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%= i %>" data-bs-parent="#user-tickets">
        <div class="accordion-body">
          <div class="list-group">
            <a href="<%= event_url(ticket.event.id) %>" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1"><%= ticket.event.name %></h6>
                <small><%= ticket.event.format_date %></small>
              </div>
              <p class="mb-1"><%= ticket.event.description %></p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
