<% @data[:headliners].each do |event| %>
  <li><%= event.name %></li>
<% end %>

<% @data[:upcoming].each do |event| %>
  <li><%= event.name %></li>
<% end %>

<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item ">
      <%= image_tag("heart-concert.jpg", class: "d-block w-100", alt: "1st slide") %>
      <div class="carousel-caption d-none d-md-block">
        <h5>1st slide</h5>
        <p>1st slide1st slide1st slide1st slide</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("heart-concert.jpg", class: "d-block w-100", alt: "second slide") %>
      <div class="carousel-caption d-none d-md-block">
        <h5>second slide</h5>
        <p>second slidesecond slidesecond slidesecond slide</p>
      </div>
    </div>
    <div class="carousel-item active">
      <%= image_tag("heart-concert.jpg", class: "d-block w-100", alt: "third slide") %>
      <div class="carousel-caption d-none d-md-block">
        <h5>third slide</h5>
        <p>third slidethird slidethird slidethird slide</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>