<div class='container text-center'>

  <h2>Purchasing Tickets</h2>
  <h3 class="green"><%= @user.username %> - <%= @user.email %></h3>
  <p>All ticket prices are determined by your generosity!</p>
  <p>Enter an amount you are willing to pay for the ticket and all proceeds will be donated to charity!</p>

  <%= form_with class: 'w-50 m-auto', url: user_tickets_url, method: :post do |form| %>

    <% session[:saved_events].each_with_index do |event, i| %>

      <div class="mb-3 text-start">
        <h4 class='d-inline'><%= event["name"] %></h4>
        <span class="badge rounded-pill text-bg-primary d-inline">
          <%= Event.find_by(id: event["id"])&.format_date %>
        </span>
      </div>
      <%= form.hidden_field :"event_id_#{i}", value: event["id"] %>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <%= form.number_field :"amount_#{i}", class: 'form-control' %>
        <span class="input-group-text">Pledge</span>
      </div>

    <% end %>

    <%= submit_tag "Checkout", class: 'btn btn-primary' %>
      
  <% end %>
</div>
    