<div class='container'>

  <h1>New Ticket Form</h1>

  <%= form_with url: user_tickets_path, method: :post do %>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <%= text_field_tag :username, @user&.username, class: "form-control" %>
      
      <div class="valid-feedback">
        Looks good!
      </div>
      <div id="usernameFeedback" class="invalid-feedback">
        Looks bad!
      </div>
    </div>
    
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <%= email_field_tag :email, @user&.email, class: "form-control" %>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div id="emailFeedback" class="invalid-feedback">
        Looks bad!
      </div>
    </div>
    
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <%= password_field_tag :password, '', class: "form-control" %>
      <div id="passwordHelpBlock" class="form-text">
        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
      </div>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div id="passwordFeedback" class="invalid-feedback">
        Looks bad!
      </div>
    </div>

    <% if @user&.errors&.any? %>
    <script>
      let errors = [];
      <% if @user.field_has_error?(:username) %>
        errors.push({ field: 'username', msg: '<%= @user.errors[:username].first %>' });
      <% end %>
      <% if @user.field_has_error?(:email) %>
        errors.push({ field: 'email', msg: '<%= @user.errors[:email].first %>' });
      <% end %>
      <% if @user.field_has_error?(:password) %>
        errors.push({ field: 'password', msg: '<%= @user.errors[:password].first %>' });
      <% end %>

      errors.forEach((error) => {
        let input = document.getElementById(error.field);
        input.classList.add('is-invalid')
        let msg = document.getElementById(`${error.field}Feedback`);
        msg.innerText = error.msg.replace(/&#39;/, "'")
      });

    </script>

    <% end %>
    <%= submit_tag "Enter", class: 'btn btn-primary' %>
      
  <% end %>
</div>
    