<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>

  <body>
    <div class="container-fluid">
      <ul class="nav align-items-center">
        <li class="nav-item flex-grow-1">
          <a id="logo" class="nav-link active" aria-current="page" href="/">I❤️ Concerts</a>
        </li>
        <% if session[:user_id].nil? %>
          <li class="nav-item">
            <%= link_to 'Login / Signup', login_path, class:'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Logout', logout_path, class:'nav-link' %>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="#">❤️ List</a>
        </li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
