<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://unpkg.com/redux@4.2.0/dist/redux.js" async defer></script>
    <%= javascript_importmap_tags %>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>

  <body>
    <div class="container-fluid">
      <%= render partial: 'shared/nav' %>
      <div class="container">  
        <%= render partial: 'shared/offcanvas' %>
        
        <%= render partial: 'shared/breadcrumb' %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
